.section-5 {
    position: relative;
    margin: 150px 0;

    &::after {
        content: "";
        position: absolute;
        height: 300px;
        width: 100%;
        background: url(../img/gmap.jpg) center / cover;
        left: 0;
        bottom: -200px;
    }
    .quote-container {
        background: $white;
        max-width: 1000px;
        margin: 0 auto;
        height: 310px;
        position: relative;
        z-index: 1000;

        @media screen and (max-width: 680px) {
            height: 500px;
        }
        @media screen and (max-width: 450px) {
            height: 700px;
        }

        &::after {
            content: "";
            position: absolute;
            background: url(../img/avatar-02.jpg) center / cover;
            height: 60px;
            width: 60px;
            border-radius: 150px;
            top: -30px;
            left: 50%;
            right: 50%;
            transform: translate(-30px);
        }
        

        .text-container {
            p {
                position: relative;
                padding: 70px 0 25px 0;
                line-height: 30px;
                text-align: center;
                font-weight: 100;
                margin: 0 80px;

                &::before {
                    content: "❝";
                }
                &::after {
                    content: "❞";
                }
                &::before,
                &::after {
                    font-size: 1.5rem;
                }
            }
        }
        h2 {
            font-weight: 100;
            padding-bottom: 15px;
        }
        P:nth-child(3) {
            color: $color1;
        }
    }
}
