.section-3 {
    padding: 100px;
    .form-content {
        display: grid;
        grid-template-columns: 30% 70%;
        max-width: 1000px;
        margin: 0 auto;

        .hours {
            background: black;

            .hours-content {
                border: 1px dashed $grey;
                margin: 25px 20px;

                h3 {
                    font-family: Allura, cursive;
                    color: $color1;
                    font-size: 2.5rem;
                    font-weight: 100;
                    padding-top: 20px;
                }
                h4 {
                    color: $white;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    margin-top: -10px;
                }
                img {
                    margin: 20px 0;
                    object-fit: cover;
                }
                h5 {
                    color: $color1;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    margin: 15px;
                    font-weight: 500;
                }
                p {
                    color: $white;
                    font-size: 0.8rem;
                }
                h5:nth-of-type(2) {
                    margin-top: 40px;
                }
                h5:nth-of-type(3) {
                    margin: 40px 0 30px 0;
                }
            }
        }
        .form-infos {
            background: $white;
            .form-infos-container {
                margin: 80px 0;
                h2 {
                    font-family: Allura, cursive;
                    color: $color1;
                    font-size: 2.5rem;
                    font-weight: 100;
                }
                h3 {
                    text-transform: uppercase;
                    font-family: Poppins, serif;
                    font-size: 1.7rem;
                    font-weight: 900;
                    margin-top: -15px;
                }
                img {
                    margin-top: 20px;
                }
            }
            .form-inputs {
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 1fr 1fr;
                max-width: 500px;
                margin: 0 auto;

                input, select {
                    background: transparent;
                    border: 1px solid transparent;
                    border-bottom: 1px solid $grey;
                    padding-bottom: 10px;
                    margin: 0 10px 20px 10px;
                }
                select {
                    background: transparent;
                    border: 1px solid transparent;
                    border-bottom: 1px solid $grey;
                }
            }
            button {
                background: rgba(0, 0, 0, 0.833);
                color: $white;
                border-radius: 150px;
                height: 45px;
                width: 180px;
                text-transform: uppercase;
                font-weight: 100;
                font-family: Poppins, serif;
                font-size: 1rem;
                letter-spacing: 1px;
                margin: 0 auto;
            }
        }
    }
}